<%- include("partials/header") %>

    <div class="container">
        <div class="row mt-2">
            <% animes.forEach((anime) => { %>
                <div class="card m-3">
                    <a href="/anime/<%= anime._id %>">
                        <img class="card-image card-img-top" src="<%= anime.image%>" alt="Anime Poster">
                    </a>
                    <h3 class="card-title mt-3"><%= anime.title%></h3>
                    <p class="card-text mb-3 mx-3"><%= `${anime.description.slice(0, 150)}...` %> </p>
                </div>
            <% }) %>
    </div>
        
    </div>

<%- include("partials/footer") %>