<%- include("partials/header") %>

<div class="container">
    <div class="row mt-4">
        <div class="col-6 show_image-container">
            <img src="<%= anime.image %>" alt="Anime Image">
        </div>
        <div class="col-6 show_details-container">
            <h1><%= anime.title%></h1>
            <p><%= anime.description%></p>
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Writer</th>
                    <td><%= anime.writer%></td>
                  </tr>
                  <tr>
                    <th scope="row">Studio</th>
                    <td><%= anime.studio%></td>
                  </tr>
                  <tr>
                    <th scope="row">Number of Seasons</th>
                    <td><%= anime.seasons%></td>
                  </tr>
                  <tr>
                    <th scope="row">Genre</th>
                    <td><%= anime.genre%></td>
                  </tr>
                  <tr>
                    <th scope="row">Story Completed</th>
                    <td><%= anime.storyCompleted%></td>
                  </tr>
                  <tr>
                    <th scope="row">Release Date</th>
                    <td><%= anime.releaseDate %></td>
                  </tr>
                  
                </tbody>
              </table>
              <% if(user && user.username === anime.owner.username) { %>
                <a href="/anime/<%= anime._id%>/edit">
                  <button class="btn btn-outline-info btn-lg btn-block mb-2"> Edit </button>
                </a>
                <form action="/anime/<%= anime._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
                </form>
              <% } %>
        </div>
    </div>

    //Upvotes

    <div class="row">
      <div class="col-2">
        <% if (user && anime.upVotes.indexOf(user.username) >= 0) { %>
          <button id="downvote-btn" class="btn btn-outline-danger btn-lg mt-3">-</button>
        <% } else if (user) { %>
          <button id="downvote-btn" class="btn btn-outline-danger btn-lg mt-3">-</button>
        <% } %>

        <span id="score" class="mx-1"><%= anime.upVotes.length - anime.downVotes.length %></span>

        <% if (user && anime.downVotes.indexOf(user.username) >=0 ) { %>
          <button id="upvote-btn" class="btn btn-outline-success btn-lg mt-3">+</button>
        <%} else if (user) { %>
          <button id="upvote-btn" class="btn btn-outline-success btn-lg mt-3">+</button>
        <% } %>
      </div>
    </div>

    //Comments
    
    <div class="row mt-3 show_comment-header">COMMENTS:</div>

    <a href="/anime/<%= anime._id%>/comments/new" class="col-3">
      <button class="btn btn-success btn-large mb-4 mt-3">Add Comment</button>
    </a>

    <% comments.forEach(comment => { %>
      <div class="row show_comment-container py-2 border">
          <div class="col-2 border-right my-auto">
            <%= comment.user.username %>
          </div>
          <% if(user && user.username === comment.user.username) { %>

            <div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
              <a href="/anime/<%= anime._id %>/comments/<%= comment._id%>/edit" class="btn btn-sm btn-success w-75 p-0 my-1">Edit</a>
              <form action="/anime/<%= anime._id %>/comments/<%= comment._id %>?_method=DELETE" class="w-75 my-1" method="POST">
                <button class="btn btn-danger btn-sm p-0 w-100">Delete</button>
              </form>
            </div>
          <% } %>
          <div class="col-8 my-auto">
            <%= comment.text %>
          </div>
      </div>
    <% }) %>

    <div class="py-5"></div>
</div>
<script>
  var animeId = "<%- anime._id %>"
</script>
<script src="/js/anime_show.js"></script>
<%- include("partials/footer") %>